body {
    background-image: url("bg.jpg");
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.index_viedo{
    margin: 10px;
    text-align: center;
}

.index_info{
    margin: 5px;
    text-align: center;
}